{% include '_header.html' %}

<div id="body">
	<div id="about">
		<div>
			<h2>We Have Free<br>Templates for Everyone</h2>
			<p>
				Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What&#39;s more, they&#39;re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms">Terms of Use</a>. You can even remove all our links if you want to.
			</p>
			<h2>We Have More<br>Templates for You</h2>
			<p>
				Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you&#39;re looking for. But if you don&#39;t find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you&#39;re looking for something different, something special. And we love the challenge of doing something different and something special.
			</p>
		</div>
		<div>
			<img src="/static/images/balloon.png" alt="Image">
			<h2>Be Part of<br>Our Community</h2>
			<p>
				If you&#39;re experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
			</p>
			<p>
				<strong>Template details</strong><br>Design version 7<br>Code version 2<br>Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/airsportswebsitetemplate/">Airsports Website Template</a>.<br>Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br>Please feel free to remove some or all the text and links of this page and replace it with your own About content.
			</p>
		</div>
	</div>
</div>

{% include '_footer.html' %}