<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Sky Adventure Website Template</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie7.css"><![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<ul>
				<li>
					<a href="index.html"><span>Home</span></a>
				</li>
				<li>
					<a href="packages.html"><span>Adventures &amp; Packages</span></a>
				</li>
				<li>
					<a href="about.html"><span>About</span></a>
				</li>
				<li>
					<a href="blog.html"><span>Blog</span></a>
				</li>
				<li class="current">
					<a href="contact.html"><span>Contact</span></a>
				</li>
			</ul>
			<a href="index.html" id="logo"><img src="/static/images/logo.png" alt="Logo"></a>
		</div>
		<div id="body">
			<div id="contact">
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
				</p>
				<p>
					<span>Location</span> 126-U This is just a place holder, so you can see<br>what the site would look like, 9183
				</p>
				<p>
					<span>Mailing Address</span> P.O. Box 061. This is just a place holder, 9183
				</p>
				<p>
					<span>Email</span><a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" class="email">company@email.com</a>
				</p>
				<p>
					<span>Customer Service</span> (222) 987 65 43 000
				</p>
				<p>
					<span>For reservation</span> (222) 987 65 43 000
				</p>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<span>Follow:</span>
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
					<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
				</div>
				<p>
					&copy; Copyright 2012. All rights reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>