<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Sky Adventure Website Template</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie7.css"><![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<ul>
				<li class="current">
					<a href="index.html"><span>Home</span></a>
				</li>
				<li>
					<a href="packages.html"><span>Adventures &amp; Packages</span></a>
				</li>
				<li>
					<a href="about.html"><span>About</span></a>
				</li>
				<li>
					<a href="blog.html"><span>Blog</span></a>
				</li>
				<li>
					<a href="contact.html"><span>Contact</span></a>
				</li>
			</ul>
			<a href="index.html" id="logo"><img src="/static/images/logo.png" alt="Logo"></a>
		</div>
		<div id="body">
			<img src="/static/images/adventure.png" alt="Image">
			<div id="home">
				<div class="packages">
					<h2>Packages</h2>
					<span id="get-it-now">Get it Now!</span>
					<ul>
						<li class="section">
							<h3>Sky Diving</h3>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
							<span class="price">$ 000</span>
						</li>
						<li>
							<h3>Hot Air Balloons</h3>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
							<span class="price">$ 000</span>
						</li>
						<li class="section">
							<h3>Gliding</h3>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
							<span class="price">$ 000</span>
						</li>
					</ul>
					<a href="packages.html" class="view">View All</a>
				</div>
				<div class="blog">
					<h2>Blog</h2>
					<ul>
						<li>
							<div>
								Jan<span>09</span>
							</div>
							<a href="blog.html">This is just a place holder, so you can see what the site would look like.</a>
						</li>
						<li>
							<div>
								Feb<span>16</span>
							</div>
							<a href="blog.html">This is just a place holder, so you can see what the site would look like.</a>
						</li>
						<li>
							<div>
								Mar<span>15</span>
							</div>
							<a href="blog.html">This is just a place holder, so you can see what the site would look like.</a>
						</li>
					</ul>
					<a href="blog.html" class="view">View more</a>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<span>Follow:</span>
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
					<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
				</div>
				<p>
					&copy; Copyright 2012. All rights reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>