{% include '_header.html' %}

<div id="body">
	<img src="/static/images/adventure.png" alt="Image">
	<div id="home">
		<div class="packages">
			<h2>Packages</h2>
			<span id="get-it-now">Get it Now!</span>
			<ul>
				<li class="section">
					<h3><a href="{{url_for('package_details', id=1, name='sky-diving')}}">Sky Diving</a></h3>
					<p>
						This is just a place holder, so you can see what the site would look like.
					</p>
					<span class="price">$ 000</span>
				</li>
				<li>
					<h3><a href="{{url_for('package_details', id=2, name='hot-air-balloons')}}">Hot Air Balloons</a></h3>
					<p>
						This is just a place holder, so you can see what the site would look like.
					</p>
					<span class="price">$ 000</span>
				</li>
				<li class="section">
					<h3><a href="{{url_for('package_details', id=3, name='gliding')}}">Gliding</a></h3>
					<p>
						This is just a place holder, so you can see what the site would look like.
					</p>
					<span class="price">$ 000</span>
				</li>
			</ul>
			<a href="{{url_for('packages')}}" class="view">View All</a>
		</div>
		<div class="blog">
			<h2>Blog</h2>
			<ul>
				<li>
					<div>
						Jan<span>09</span>
					</div>
					<a href="blog.html">This is just a place holder, so you can see what the site would look like.</a>
				</li>
				<li>
					<div>
						Feb<span>16</span>
					</div>
					<a href="blog.html">This is just a place holder, so you can see what the site would look like.</a>
				</li>
				<li>
					<div>
						Mar<span>15</span>
					</div>
					<a href="blog.html">This is just a place holder, so you can see what the site would look like.</a>
				</li>
			</ul>
			<a href="blog.html" class="view">View more</a>
		</div>
	</div>
</div>

{% include '_footer.html' %}