{% include '_header.html' %}

<div id="body">
	<ul class="packages">
		<li>
			<span><a href="{{url_for('package_details', id=1, name='sky-diving')}}"><img src="/static/images/hot-air-ballons.png" alt="Image"></a></span>
			<div>
				<h2>Hot Air Balloons</h2>
				<p>
					You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
				</p>
			</div>
		</li>
		<li>
			<span><a href="{{url_for('package_details', id=2, name='hot-air-balloons')}}"><img src="/static/images/skydiving.png" alt="Image"></a></span>
			<div>
				<h2>Sky Diving</h2>
				<p>
					You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
				</p>
			</div>
		</li>
		<li>
			<span><a href="{{url_for('package_details', id=3, name='gliding')}}"><img src="/static/images/gliding.png" alt="Image"></a></span>
			<div>
				<h2>Gliding</h2>
				<p>
					You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
				</p>
			</div>
		</li>
	</ul>
</div>

{% include '_footer.html' %}