{% include '_header.html' %}

<div id="body">
	<div id="contact">
		<p>
			This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
		</p>
		<p>
			<span>Location</span> 126-U This is just a place holder, so you can see<br>what the site would look like, 9183
		</p>
		<p>
			<span>Mailing Address</span> P.O. Box 061. This is just a place holder, 9183
		</p>
		<p>
			<span>Email</span><a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" class="email">company@email.com</a>
		</p>
		<p>
			<span>Customer Service</span> (222) 987 65 43 000
		</p>
		<p>
			<span>For reservation</span> (222) 987 65 43 000
		</p>
	</div>
</div>

{% include '_footer.html' %}
